*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#red{
    background-color: red;
}
button {
    border-radius: 5px;
    width: 100px;
    height:40px;
    margin: 5px;
}